[buildout]
extends =
  http://dist.plone.org/release/4.3.8/versions.cfg
  http://svn.communesplone.org/svn/communesplone/buildout/server.urban/tags/urban20-liege/versions-base.cfg
allow-picked-versions = false
show-picked-versions = true
extensions = mr.developer
parts =
    instance
    test
    coverage
    report
    code-analysis
    i18ndude
    omelette
    robot
develop = .
auto-checkout =
  Products.urban
  liege.urban
  plone.app.referenceintegrity
  imio.pm.locales
  imio.schedule
  collective.faceted.task
  collective.wfadaptations
  collective.z3cform.select2


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    urban.vocabulary [test]
    imio.schedule
    liege.urban
environment-vars =
  zope_i18n_compile_mo_files true


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/urban
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-max-line-length = 120
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
       ipdb
defaults = ['-s', 'urban.vocabulary', '--auto-color', '--auto-progress']


[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/src/urban/vocabulary'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all', '-s', 'urban.vocabulary']


[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[remotes]
imio = https://github.com/IMIO
imio_push = git@github.com:IMIO
imio_svn = http://svn.communesplone.org/svn/communesplone
collective = https://github.com/collective

[sources]
Products.urban = svn ${remotes:imio_svn}/Products.urban/trunk
liege.urban = svn ${remotes:imio_svn}/liege.urban/trunk
plone.app.referenceintegrity = git ${remotes:imio}/plone.app.referenceintegrity.git
imio.pm.locales = svn ${remotes:imio_svn}/imio.pm.locales/trunk/
imio.schedule = git ${remotes:imio}/imio.schedule.git
collective.faceted.task = git ${remotes:imio}/collective.faceted.task
collective.wfadaptations = git ${remotes:collective}/collective.wfadaptations.git
collective.z3cform.select2 = git ${remotes:collective}/collective.z3cform.select2.git

[versions]
# Don't use a released version of urban.vocabulary
urban.vocabulary =

PyYAML = 3.11
argh = 0.26.1
check-manifest = 0.31
coverage = 3.7.1
flake8 = 2.5.4
flake8-blind-except = 0.1.0
flake8-coding = 1.1.1
flake8-debugger = 1.4.0
i18ndude = 3.4.0
icalendar = 3.9.2
ipython = 3.2.3
mccabe = 0.4.0
pathtools = 0.1.2
plone.recipe.codeanalysis = 2.2
pyflakes = 1.0.0
six = 1.9.0
watchdog = 0.8.3

# Robot packages
Pygments = 2.0.2
plone.app.robotframework = 1.0.1
robotframework = 3.0
robotframework-selenium2library = 1.8.0
robotframework-selenium2screenshots = 0.7.2
robotframework-ride = 1.5.2.1
robotsuite = 1.7.0
selenium = 3.0.1
sphinxcontrib-robotframework = 0.6.1

# workalendar
workalendar = 1.1.0
pyephem = 3.7.6.0
pyCalverter = 1.6.1
lunardate = 0.1.5
